.wrapper {
  position: relative;

  display: flex;
  align-items: center;

  color: #424242;
}

.input {
  position: relative;

  display: inline-flex;
  align-items: baseline;

  height: 56px;
  width: 100%;
  min-width: 0;

  padding: 0 16px;

  font-size: 1em;
  color: inherit;

  border-radius: 4px;
  border: 1px solid #f1f5f9;

  appearance: none;
  outline: none;
}

.input:focus {
  outline: none;
}

.floatingLabel {
  position: absolute;
  left: 10px;
  top: 50%;

  transform: translateY(-50%);
  transform-origin: left top;

  pointer-events: none;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.floatedUp {
  top: -10px;
  left: 0;

  padding: 4px;
  font-size: .8em;
  color: #f1f5f9;
}
